doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p. 
      jhgkjffjffkfj fjfkjfkfkkfkfffjfkfkfkfkfk
      jffhfjfjhfhf fhjfhfhjfhfhf
    input(type='text').class-name#anyid
    - var condition = true
    if condition
      p it's true 
    - var anyArr = [1,2,3]
    each value in anyArr
      p= value
    block content
